.bioskop {
    width: 650px;
    height: 350px;
    padding-left: -150px;
    margin-top: -40px;
    margin-bottom: 10px;
    margin-left: 35px;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: url('../../images/www3.jpg');
  background-size: cover;
  font-family: 'century gothic', sans-serif;
}

a {
  text-decoration: none;
  color: #352a08;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color:white;
}
.req{
  font-size: 12px;
  align:paddingleft;
}
.form {
  
  background: rgb(253, 252, 252);;
  padding: 40px;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;


  border-radius: 4px;
  box-shadow: 10 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #150d00;
  font-size: 10px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #150d00;
}
.tab-group .active a {
  background: #634f16;
  color: #150d00;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #150d00;
  font-weight: 300;
  margin: 0 0 40px;
}
h3 {
  text-align: center;
  color: #150d00;
  font-weight: 300;
  margin: 0 0 40px;
  font-size: 15px;
}

label {
  position: absolute;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  left: 13px;
  color: #e56b29;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 24px;
}
label .req {
  margin: 2px;
  color: white;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #150d00;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
  background: none;
  background-image: none;
  border: 1px solid #150d00;
  color: #150d00;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #150d00;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

textarea {
  border: 2px solid #150d00;
  resize: vertical;
}

a {
    text-decoration: none;
    color: #f9f7f2;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;

}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}




.h1 {
    text-align: center;
    color: #b74c19;
    font-weight: 300;
    margin: 0 0 40px;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #150d00;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #ff5a0b;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
